<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mystudent" class="com.bj.ba05.Student" autowire="byType">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="20"/>
        <!--<constructor-arg name="school" ref="mychool"/>-->
    </bean>
    <bean id="myschool" class="com.bj.ba05.School">
        <property name="name" value="baidu"/>
        <property name="address" value="addr"/>
    </bean>
    <!--<bean id="myschool" class="com.bj.ba05.primarySchool">
        <property name="name" value="baidu"/>
        <property name="address" value="addr"/>
    </bean>-->
</beans>